
.label {
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: #4cd0ff;
    -fx-border-width: 1.5;
    -fx-text-fill: #000000;
    -fx-font-family: Lato Heavy;
    -fx-max-width: 400px;
    -fx-font-size: 14px;
    -fx-wrap-text: true;
    -fx-padding: 8 8 8 10;
    -fx-word-wrap: break-word;

}


